<div class="row">
    <div class="col-lg-3 col-6">
        <!--begin::Small Box Widget 1-->
        <div class="small-box text-bg-primary">
            <div class="inner">
                <h3>150</h3>

                <p>Total de Envíos Pendientes</p>
            </div>
            <div class="small-box-icon">
                <i class="fa-solid fa-box-open"></i>
            </div>
            <a href="#" class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                Más info <i class="bi bi-link-45deg"></i>
            </a>
        </div>
        <!--end::Small Box Widget 1-->
    </div>
</div>